body {
    padding: 0px;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-width: 1000px;
    /* border-bottom: solid 6px rgb(255, 195, 20); */
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: black;
}

.logo_container{
    display: flex;
}

.logo-img{
    width: 8%;
    margin-left: 2%;
    cursor: pointer;
}

.name{
    color: rgb(255, 195, 20);
    font-size: 44px;
    font-weight: bold;
    padding: 0 17px;
    cursor: pointer;
}

.action_bar{
    margin-right: 2%;
    display: flex;
    justify-content: space-evenly;
}

.action_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 4%;
    color: rgb(255, 195, 20);
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}
/* Header Close */

/* main */

.cover_card{
    position: relative;
}

.cover_img{
    box-sizing: border-box;
    width: 100%;
    border: 8px solid rgb(255, 195, 20);
    height: auto;
}

.offer {
    position: absolute;
    top: 12%;
    text-align: center;
    color: rgb(255, 195, 2);
    font-size: 100px;
    font-weight: bold;
}

.reasons{
    position: absolute;
    display: flex;
    top: 50%;
    margin: 0 20%;   
}

.reasons ul li{

    color: rgb(255, 195, 2);
    padding: 2px 10px;
    font-size: 26px;
    font-weight: bold;
}

.features{
    text-align: center;
    text-transform: uppercase;
    font-size: 44px;
    font-weight: bold;
}

.container_card {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 60px auto;
}

.card {
    width: 30%;
    height: 450px;
    margin: auto 4px;
    border: 8px solid rgb(255, 195, 20);
    border-radius: 12px;
    text-align: center;
}

.card-img {
    width: 100%;
    border-radius: 6px;
}

.card li {
    padding: 5px;
    font-weight: bold;
    text-align: left;
}

/* main close */

/* footer */
.container {
    border: 2px solid black;
    height: 260px;
    width: auto;
    padding: 10px;
    background-color: black;
    display:flex;
    align-items: center;
    justify-content: space-evenly;

}
.column1 h3{
    font-size: 2em;
    text-decoration: underline;
    margin-bottom: 2px;
}
.column1{
    padding: 4px;
    height: 260px;;
    width: 35vb;
    font-size:1.3rem;
    color: #ffc302;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.copyright{
    background-color: black;
    color: #ffc302;
    text-align: center;
    padding-bottom: 8px;
}

/* footer close */