body {
    padding: 0px;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar {
    background-color: black;
    overflow: auto;
    border-bottom: solid 6px rgb(255, 195, 20);
}

.navbar ul:hover {
    cursor: pointer;
}

.navbar img {
    width: 3%;
    float: left;
    margin: 0px 4px;
    margin-top: -8px;
}

.navbar div {
    float: left;
    text-align: justify;
    font-size: 20px;
    color: rgb(255, 195, 20);
    font-weight: bold;
    margin: 0px 8px;
}

.navbar li {
    float: right;
    list-style: none;
    margin: 0px 10px;
    text-align: justify;
}

.navbar li a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(255, 195, 20);
    font-weight: bold;
}

li a:hover {
    color: white;
}

.offer {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin: 30px auto;
}

.container {
    width: 1000px;
    margin: 60px auto;
}

.card {
    display: inline-block;
    width: 30%;
    height: 450px;
    margin: auto 4px;
    border: 6px solid rgb(255, 195, 20);
}

.card-img {
    width: 100%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.card h2 {
    text-align: center;
}

.card p {
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

.ContactForm {
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    background-color: rgb(255, 195, 20);
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.form-group{
    display: inline-block;
    width: 600px;
}

.form-group input {
    display: inline-block;
    width: 60%;
    padding: 1px;
    border: 2px solid black;
    margin: 2px 20px;
    font-size: 20px;
    border-radius: 8px;
}

.btn{
    display: block;
    
}